# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
chess

# auto-gen
*.plist
.cache
compile_commands.json
tags
session.json
cmake-build-debug
.idea

# pgn spec
PGN_standard_1994-03-12.txt

# folders
deps
build
chess.sqlite3
